.rangepicker * {
    box-sizing:border-box;
}

.rangepicker {
    display:flex;
    flex-wrap: wrap;
}

.rangepicker_month {
    width: 25%;
    background-color: #fff;
    border: 1px solid rgb(114, 112, 112);
}